version: '3.8'

services:
  # 1. API GATEWAY
  gateway:
    build: ./api-gateway
    container_name: vinfast-gateway
    ports:
      - "8000:8000"
    environment:
      - USER_SERVICE_URL=http://user-service:5001/api/v1
      - CATALOG_SERVICE_URL=http://catalog-service:5002/api/v1
      - ORDER_SERVICE_URL=http://order-service:5003/api/v1
    depends_on:
      - user-service
      - catalog-service
      - order-service

  # 2. USER SERVICE (Đã thêm JWT_SECRET_KEY)
  user-service:
    build: ./user-service
    container_name: vinfast-user-service
    ports:
      - "5001:5001"
    volumes:
      - ./user-service/instance:/app/instance
    environment:
      - FLASK_APP=app.py
      # KEY BẢO MẬT MỚI
      - JWT_SECRET_KEY=Bi_Mat_VinFast_2025_!!!

  # 3. CATALOG SERVICE
  catalog-service:
    build: ./catalog-service
    container_name: vinfast-catalog-service
    ports:
      - "5002:5002"
    volumes:
      - ./catalog-service/instance:/app/instance
    environment:
      - FLASK_APP=app.py

  # 4. ORDER SERVICE
  order-service:
    build: ./order-service
    container_name: vinfast-order-service
    ports:
      - "5003:5003"
    volumes:
      - ./order-service/instance:/app/instance
    environment:
      - USER_SERVICE_URL=http://user-service:5001
      - CATALOG_SERVICE_URL=http://catalog-service:5002

  # 5. FRONTEND CLIENT
  frontend:
    build: ./frontend-client
    container_name: vinfast-frontend
    ports:
      - "8080:80"